/* секция чем мы занимаемся */

.doing__section {
  @include mq(not-desktop) {
    display: none;
  }
 
}

.doing__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
}

.doing__list {
  display: flex;
}

.doing__item {
  position: relative;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.doing__image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-main-color);

  background-color: rgba(47, 48, 58, 0.8);
}
